body {
  font-family: Avenir;
}

a {
  text-decoration: none;
}

.form {
  background-color: #424242;
}

img.logo {
  width: 60px;
  margin: 20px auto 0 auto;
}

div.logo{
  text-align: center;
}

.form2 {
  background-color: #FFFFFF;
}

.form-container {
  background-color: #FFFFFF;
  margin: 3% auto;
  width: 100%;
}

.form-container h1 {
  padding-top: 60px;
}

.contact {
  text-align: center;
}

.form-header {
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 50px;
}

.sections {
  text-align: center;
}

.form-step-on {
  font-size: 120%;
  color: white;
  display: inline;
  margin: 0 30px;
}

.form-step-off {
  font-size: 120%;
  color: #848484;
  display: inline;
  margin: 0 30px;
}

label {
  font-size: 100%;
  font-weight: 500;
  color: #8181F7;
  margin: 5% auto;
  padding-top: 3%;    
}

input {
  font-size: 80%;
  margin: 1% auto;
}

.amount {
  margin: 12px;
  float: right;
}

.description {
  width: 61%;
  margin: 0 12px;
  float: left;
  font-size: 14px;
}

.products {
  margin: 0 auto;
}

.buy {
  clear: both;
  text-align: center;
}


.product {
  float: left;
  width: 244px;
}

.image {
  height: 220px;
  width: 220px;
  margin: 0 12px;
}

.sexo {
  font-size: 100%;
}

.enviar {
  float: right;
  color: white;
  font-size: 100%;
  background-color: #8181F7;
  border-style: none;
  box-shadow: none;
  border-radius: 4px;
  margin: 0 auto;
}

.thanks {
  color: black;
  font-size: 100%;
}

input[type=number] {
  width: 3em;
}

input[type=number]:in-range {
  outline: lightgreen solid 1px;
}

input[type=number]:out-of-range {
  outline: red solid 1px;
}

table {
  padding-top: 60px;
  width: 70%;
  margin: 0 auto;
}
th {
  font-size: 18px;
}
.odd td {
  background-color: #EEEEEE;
}

.text_right {
  text-align: right;
}

.no_iva {
  font-size: 20px;
  padding-top: 50px;
  text-align: center;
}

.with_iva {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

.footer {
  height: 50px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;

}

.footer img {
  width: 30px;
  margin: 0 3%;
}

.submit {
  background-color: #807dfa;
  color: white;
  font-size: 18px;
  padding: 4px 25px;
  border: 0;
}

.submit:hover {
  background-color: #5350bd;
}

//mediaqueries rules
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    width: 100%;
    margin: 0 auto;
  }
  
  .form2 {
    width: 100%;
    margin: 3% auto;
  }
  
  .form-container {
    width: 100%;
    margin: 3% auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .form {
    width: 100%;
    margin: 0 auto;
  }

  .form2 {
    width: 100%;
    margin: 3% auto;
  }
  
  .form-header {
    font-size: 100px;
  }
  
  .form-container {
    width: 100%;
    margin: 3% auto;
  }
}

@media screen and (min-width: 960px) {
  .form {
    width: 960px;
    margin: 0 auto;
  }

  .form2 {
    width: 960px;
    margin: 3% auto;
  }
  
  .form-header {
    font-size: 100px;
  }

  .form-container {
    width: 80%;
    margin: 3% auto;
  }
}
